.minibio {
    cursor: default;
}

.height {
    height: 40vh;
}

.padding {
    padding-top: 3%;
}

.link-style {
    color: inherit;
    text-decoration: none;
}

.background-color {
   background: rgba(232, 240, 254, 0.6);
}
